
/* General Styling */

.demo-content {
    padding: 20px;
}

.success {
    padding: 15px;
    background-color: green;
}

div.error {
    padding: 10px;
    background-color: red;
}

.delete {
    color: red !important;
}


/* News styling */



.create-news {
    padding: 10px;
}

.create-news form {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr;
}

.create-news form input {
    padding: 15px;
    background-color: transparent;
    border: 1px solid transparent;
    transition-duration: 0.5s;
    margin-bottom: 10px;
}

.create-news form input:focus {
    border-bottom: 1px solid black;
    transition-duration: 0.5s;
}

.create-news form input[type="submit"] {
    background-color: #3f3f3f;
    color: white;
}

.ck-editor {
    margin-bottom: 10px !important;
    border: 1px solid #6b6b6b !important;
}

.ck-editor__editable {
    min-height: 200px;
    border: 1px solid #6b6b6b;
    transition-duration: 0.5s;
    color: black !important;
}

.ck-focused {
    border: 1px solid #6b6b6b !important;
    transition-duration: 0.5s;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: black;
    padding: 5px;
    transition-duration: 0.2s;
    background-color: lightgrey;
    border: 1px solid black;
    margin-bottom: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    transition-duration: 0.2s;
    background-color: rgb(187, 186, 186)
}
