
/* General Styling */

.demo-content {
    padding: 20px;
}

.success {
    padding: 15px;
    background-color: green;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

div.error {
    padding: 10px;
    background-color: red;
    text-align: center;
    color: white; 
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.delete {
    color: red !important;
}


/* News styling */



.create-news {
    padding: 10px;
}

.create-news form {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr;
}

.create-news form input, .create-news form select {
    padding: 15px;
    background-color: transparent;
    border: 1px solid transparent;
    transition-duration: 0.5s;
    margin-bottom: 10px;
}

.create-news form input:focus, .create-news form select:focus {
    border-bottom: 1px solid black;
    transition-duration: 0.5s;
}

.create-news form input[type="submit"] {
    padding: 10px;
    background-color: #3f3f3f;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.create-news form select {
    padding: 0;
}

.create-news form option {
    padding: 15px;
}


.ck-editor {
    margin-bottom: 10px !important;
    border: 1px solid #6b6b6b !important;
}

.ck-editor__editable {
    min-height: 200px;
    border: 1px solid #6b6b6b;
    transition-duration: 0.5s;
    color: black !important;
}

.ck-focused {
    border: 1px solid #6b6b6b !important;
    transition-duration: 0.5s;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    transition-duration: 0.2s;
}


.gallery-edit {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery-edit .gallery .albums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
}

.gallery-edit .album {
    position: relative;
}

.top-right {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
    font-size: 15px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    background-color: white;
}

.gallery-edit > .form > .create-news > form{
    width: 60%;
}
