
/* General Styling */

.demo-content {
    padding: 20px;
}

.success {
    padding: 15px;
    background-color: green;
}

div.error {
    padding: 10px;
    background-color: red;
}


/* News styling */



.create-news {
    padding: 10px;
}

.create-news form {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr;
}

.create-news form input {
    padding: 15px;
    color: black;
    background-color: transparent;
    border: 1px solid #6b6b6b;
    transition-duration: 0.5s;
}

.create-news form input:focus {
    color: white;
    background-color: #3f3f3f; 
    transition-duration: 0.5s;
}

.create-news form input[type="submit"] {
    background-color: #3f3f3f;
    color: white;
}

.ck-editor {
    border: 1px solid #6b6b6b !important;
}

.ck-editor__editable {
    min-height: 200px;
    border: 1px solid #6b6b6b;
    transition-duration: 0.5s;

}

.ck-focused {
    background-color: #3f3f3f;
    border: 1px solid #6b6b6b !important;
    transition-duration: 0.5s;
}

