@import url('https://fonts.googleapis.com/css?family=Bitter|Peddana');


/*=============================================
=           Margin & Padding Reset            =
=============================================*/


* {
    margin: 0;
    padding: 0;
}




/*=============================================
=                Main Styling                 =
=============================================*/


.header { 
    grid-area: header; 
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/header.jpg'); 
    background-position: center;
    display: grid; 
    justify-items: center; 
    align-items: center; 
    font-family: 'Peddana', serif; 
    color:white; 
    font-size: 40px; 
}
.footer { grid-area: footer; font-family: 'Bitter', serif; }
.main { grid-area: main; }

body {
	display: grid;
	grid-template-areas: "header header header"
	                     ". main ."
	                     "footer footer footer";
	grid-template-columns: 1fr 1000px 1fr;
	grid-template-rows: 400px 
						1fr
						40px;
    min-height: 100vh;
    overflow-x: hidden;
}

.main-content {
    padding: 10px;
    font-family: 'Bitter', serif;
    position: relative;
}

.main-content h2, .main-content h3 {
    font-weight: 200;
}



/*=============================================
=                  Navigation                 =
=============================================*/


.main > .navbar {
    display: flex;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main > .navbar > .link {
    text-decoration: none;
    color: black;
    font-family: 'Bitter', serif;
    border-bottom: 2px solid transparent;
}

.main > .navbar-mobile {
    display: none;
    width: 100%;
}

.navbar-mobile > .dropbtn {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.navbar-mobile > .dropbtn:hover, .navbar-mobile > .dropbtn:focus {
    background-color: gray;
}

.navbar-mobile > .dropdown {
    position: relative;
    display: inline-block;
}

.navbar-mobile > .dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    box-shadow: 0 4px 2px -2px gray;
}

.navbar-mobile > .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block !important;}

.main > .navbar > .active {
    border-bottom: 2px solid #87ceeb;
    box-sizing: border-box;
}






/*=============================================
=                     Home                    =
=============================================*/


.home {
    display: grid;
    grid-template-areas: "info aside"
                         "products aside";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px; 
}

.home > .home-info {
    grid-area: info;
}

.home > .home-info > h2 {
    padding-bottom: 15px;
}

.home > .home-info > p {
    padding-bottom: 10px;
}

.home > .home-aside {
    grid-area: aside;
}

.home > .home-aside > form {
    width: 100%;
    height: 55px;
}

.home > .home-aside > form > input {
    box-sizing: border-box;
    width: 100%;
    border: 7px solid #87ceeb;
    padding-left: 5px;
    line-height: 25px;
}

.home > .home-aside > .home-news {
    margin-top: 10px;
}

.home > .home-aside > .home-news > .home-news-text {
    display: grid;
    padding: 5px;
}

.home > .home-aside > .home-news > .home-news-text > h2 {
    margin-bottom: 5px;
}

.home > .home-aside > .home-news > .home-news-text > p {
    font-size: 14px;
    margin-bottom: 2px;
} 

.home > .home-aside img {
    width: 244px;
}

.home > .home-aside > .home-news > .home-news-text > a {
    justify-self: center;
    width: 80%;
    height: 30px;
    background-color: #87ceeb;
    box-shadow: none;
    border: none;
    color: white;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
}

.home > .home-products {
    grid-area: products;
}

.home > .home-products > .home-products-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 40px;
}

.home > .home-products > .home-products-box > .product {
    display: grid;
    height: 50%;
    justify-items: center;
    width: 140px;
}

.home > .home-products > .home-products-box > .product img {
    width: 140px;
}

.home > .home-products > .home-products-box > .product > a {
    width: 100%;
    height: 40px;
    background-color:  #87ceeb;
    text-decoration: none;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

#newsletter > p {
    line-height: 40px;
    color: green;
}

form.search {
    width: 100%;
    height: 55px;
}

form.search input {
    box-sizing: border-box;
    width: 100%;
    border: 7px solid #87ceeb;
    padding-left: 5px;
    line-height: 25px;
}

.search-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    grid-template-areas: "title title" "contentNews contentEvent";
}

.search-results > .title {
    grid-area: title;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    text-align: center;
}

.search-results > .news-stories > .news-story {
    grid-column: none;
}
.search-results > .news-stories  {
    display: block;
    grid-area: contentNews;
}

.search-results > .events {
    grid-area: contentEvent;
    display: grid;
    grid-auto-rows: min-content;
}

.search-results h2 {
    padding: 10px;
    font-weight: 200;
    margin-bottom: 20px;
    border-bottom: 2px solid #c0c0c0;
}

.search-results > div {
    padding: 0;
}



/*=============================================
=                    NEWS                     =
=============================================*/

.news {
    display: grid;
}

.news h3 {
    padding-bottom: 10px;
}

.news-stories {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.news .pagination {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-column: 1/4;
    grid-gap: 5px;
}

.news .pagination a:last-of-type {
    justify-self: end;
}

.news .pagination a {
    color: red !important;
}


 .news-stories > .news-story {
    display: grid;
    grid-column: 1/4;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
    -moz-box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
    box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
    padding: 10px;
    margin-bottom: 20px;

}

.news-stories > .news-story p {
    padding-bottom: 5px;
}

.news-stories > .news-story a {
    justify-self: end;
    height: 30px;
    background-color: #87ceeb;
    box-shadow: none;
    border: none;
    color: white;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    padding: 3px;
}



/*=============================================
=                   Events                    =
=============================================*/

.events {
    display: grid;
}

.events h2 {
    padding-bottom: 10px;
}

.event {
    width: 100%;
    max-width: 900px;
    padding: 10px;
    margin-bottom: 30px;
    display: grid;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
    -moz-box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
    box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
    justify-self: center;
    justify-items: center;
}

.event h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.event p {
    padding-bottom: 10px;
}

.event a  {
    justify-self: end;
    height: 30px;
    background-color: #ffa939;
    box-shadow: none;
    border: none;
    color: white;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    padding: 3px;
}

.event img {
    max-height: 600px;
}

.event > .event-text {
    display: grid;
    width: 100%;
}


/*=============================================
=                  Gallery                    =
=============================================*/

.gallery {
    display: grid;
}

.gallery h2 {
    padding-bottom: 10px;
}

.gallery > .albums {
    position: relative;
    width: 100%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    grid-gap: 30px;
}

.gallery > .albums img {
    width: 100%;
    max-height: 171px;
}

.gallery > .albums .album {
    position: relative;
}

.gallery > .albums .album .album-overlay {
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 0;
    right: 0;
    max-height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(160,160,160, 0.8);
}

.gallery > .albums > .album:hover .album-overlay {
    opacity: 1;
}

.gallery > .albums > .album .album-overlay > .album-name {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.lightbox_img:hover {
    cursor: pointer;
}



/*=============================================
=                   Boats                     =
=============================================*/

.boats > .boats-table {
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

.boats-table th:first-of-type {
    width: 400px;
}

.boats-table .boats-category {
    font-weight: bold;
}

.boats-table td {
    padding-top: 15px;
    text-align: left;
}


.boats-table-image {
    width: 150px;
    padding-right: 20px;
    visibility: hidden;
}

.boats-table img {
    width: 140px;
}



/*=============================================
=               Become a member               =
=============================================*/

.member p {
    padding-top: 10px;
}

.member > .member-info {
    margin-bottom: 30px;
    padding: 5px;
}

.member > .member-info a {
    color: #87ceeb;
}

.member > .member-prices {
    padding: 5px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.member > .member-prices > p:nth-child(even) {
    justify-self: end;
}



/*=============================================
=                Profile page                 =
=============================================*/

.profile {
    width: 50%;
}

.profile > img {
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
}

.profile > .profile-information {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile > .profile-information p {
    padding-bottom: 5px;
}

.profile > .profile-information > p:nth-child(odd) {
    font-weight: bold;
}

.profile a {
    color: white;
    line-height: 20px;
    background-color: orange;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}



/*=============================================
=                  Contact                    =
=============================================*/

.contact {
    display: grid;
}

.contact-form {
    justify-self: center;
    width: 80%;
    padding: 10px;
    padding-top: 20px;
    display: grid;
    grid-template-rows: 1fr;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form form {
    margin-top: 25px;
    width: 50%;
    justify-self: center;
}

.contact-form form input, .contact-form form textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    border: none;
    font-family: 'Bitter', serif;
    font-size: 13px;
}

.contact-form form input[type=submit] {
    background-color: #c0c0c0;
    padding: 5px;
}

.google-map {
    height: 400px;
    background-color: grey;
    margin-bottom: -10px;
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}











/*=============================================
=                  Footer                     =
=============================================*/

.footer {
    background-color: #333;
    color: white;
    font-family: 'Bitter', serif;
    display: grid;
    justify-items: center;
    align-items: center;
}

.footer-content {
    width: 50%;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}




/*=============================================
=                Media Queries                =
=============================================*/



@media screen and (max-width: 767px) {
	body {
		grid-template-areas: "header"
		                     "main"
		                     "footer";
		grid-template-columns: 100%;
		grid-template-rows: 100px 
							1fr
							50px;
    }

    .header {
        font-size: 20px;
        background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/header-mobile.jpg'); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer-content {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 5px;
    }

    .main > .navbar {
        display: none;
    }

    .main > .navbar-mobile {
        display: inline-block;
    }
    
    .home {
        grid-template-areas: "info"
                             "aside"
                             "products";
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .home > .home-aside img {
        width: 100%;
    }

    .home > .home-products > .home-products-box {
        grid-template-columns: 1fr;
    } 
    .home > .home-products > .home-products-box > .product {
        width: 100%;
    }

    .home > .home-products > .home-products-box > .product img {
        width: 100%;
    }

    .news > .news-stories > .news-story {
        grid-column: 1/6;
    }

    .event img {
        max-width: 100%;
    }

    .gallery > .albums {
        grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    }

    .boats-table, .boats-table thead, .boats-table tbody, .boats-table th, .boats-table td, .boats-table tr { 
		display: block; 
    }
    
    .boats-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .boats-table tbody tr {
        margin-bottom: 20px;
        padding: 10px;
    }

    .boats-table tbody .content-row {
        -webkit-box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
        -moz-box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
        box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);

    }

    .boats-table td:not(.boat-image):before {
        content: attr(data-column) '\a';
        white-space: pre-wrap;
        font-weight: bold;
    }

    .profile > .profile-information {
        grid-template-columns: 1fr;
    }
    
    .profile > .profile-information p:nth-child(even) {
        padding-bottom: 15px;
    }

}

@media screen and (min-width: 768px) and (max-width: 999px) {
    body {
        grid-template-columns: 5px auto 5px;
		grid-template-rows: 200px 
							auto
							50px;
    }

    .home > .home-products > .home-products-box {
        grid-template-columns: 1fr 1fr;
    }

    .boats-table th:first-of-type {
        width: 270px;
    }

    .gallery > .albums {
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    }

    .footer-content {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 5px;
    }
}