@import url('https://fonts.googleapis.com/css?family=Bitter|Peddana');

/* Default margin and padding reset */

* {
    margin: 0;
    padding: 0;
}


.header { grid-area: header; }
.footer { grid-area: footer; }
.main { grid-area: main; }

body {
	display: grid;
	grid-template-areas: "header header header"
	                     ". main ."
	                     "footer footer footer";
	grid-template-columns: 350px 1fr 350px;
	grid-template-rows: 300px 
						1fr
						30px;
	min-height: 100vh;
}

@media screen and (max-width: 600px) {
	body {
		grid-template-areas: "header"
		                     "main"
		                     "footer";
		grid-template-columns: 100%;
		grid-template-rows: 100px 
							1fr
							30px;
	}
}


/* Navigation */

.main > .navbar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    grid-template-rows: 30px;
    align-items: center;
    background-color: grey;
}

.main > .navbar > .link {
    text-decoration: none;
    color: black;
    font-family: 'Bitter', serif;
}


/* Frontpage */

